<div
  class="fixed w-full backdrop-blur-sm border bg-white/70 py-3 px-6 flex justify-between items-center z-[999]"
>
  <div
    class="absolute inset-x-0 top-0 h-1 bg-gradient-to-r from-blue-500 to-red-500"
  ></div>
  <div class="flex gap-2 justify-center items-center">
    <img src="../../../../assets/to-do.png" alt="Logo" class="w-7" />
    <h1 class="font-bold text-lg">Todo Apps</h1>
  </div>
  <div class="flex justify-center items-center gap-3">
    <ul class="flex justify-center items-center gap-3">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="text-blue-600"
          class="font-semibold"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/archive"
          routerLinkActive="text-blue-600"
          class="font-semibold"
          >Arsip</a
        >
      </li>
      <li class="hidden md:block">
        <a
          routerLink="/add-todo"
          routerLinkActive="text-blue-600"
          class="font-semibold"
          >Tambah Todo</a
        >
      </li>
    </ul>
    <p-button
      (onClick)="logoutConfirm($event)"
      icon="pi pi-power-off"
      severity="danger"
      [rounded]="true"
      [style]="{ width: '30px', height: '30px' }"
    ></p-button>
  </div>
</div>
<p-confirmDialog
  key="positionDialog"
  [position]="position"
  [style]="{ width: '25rem' }"
></p-confirmDialog>
<p-toast></p-toast>
@if (isLoading) {
<app-spinner />
}
