<div
  class="fixed w-full backdrop-blur-sm border bg-white/70 py-3 px-6 flex justify-between items-center"
>
  <h1 class="font-bold text-lg">Todo Apps</h1>
  <div>
    <p-button
      (onClick)="logout($event)"
      icon="pi pi-power-off"
      severity="danger"
      [rounded]="true"
      [style]="{ width: '30px', height: '30px' }"
    ></p-button>
  </div>
</div>
<p-confirmDialog
  key="positionDialog"
  [position]="position"
  [style]="{ width: '25rem' }"
></p-confirmDialog>
<p-toast></p-toast>
@if (isLoading) {
<app-spinner />
}
