<div
  class="bg-white border rounded-lg flex flex-col gap-2 hover:shadow-lg transition-all ease-in-out"
>
  <img
    alt="Card"
    src="https://primefaces.org/cdn/primeng/images/usercard.png"
  />
  <div class="p-4 flex flex-col gap-3">
    <h1 class="font-bold text-lg">Title</h1>
    <span class="text-sm text-gray-600 font-semibold">17 Februari 2024</span>
    <p class="text-xs text-justify text-gray-800">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, iste
      aspernatur voluptatem nemo unde consequuntur necessitatibus recusandae
      maxime nulla explicabo! Quo, ipsum aperiam praesentium nihil ipsa libero.
      Atque, molestias debitis.
    </p>
    <div class="flex gap-2">
      <p-button
        icon="pi pi-send"
        severity="primary"
        [style]="{ width: '30px', height: '30px' }"
        pTooltip="Detail todo"
        tooltipPosition="bottom"
      ></p-button>
    </div>
  </div>
</div>
