<div
  class="bg-white border rounded-lg flex flex-col gap-2 hover:shadow-lg transition-all ease-in-out"
>
  <img
    alt="Card"
    [src]="'http://localhost:5000/v1/public/' + todo.image"
    (error)="handleImageError($event)"
    class="rounded-t-md h-40 object-center object-cover"
  />
  <div class="p-4 flex flex-col gap-3">
    <h1 class="font-bold text-lg">{{ todo.title }}</h1>
    <span class="text-sm text-gray-600 font-semibold">17 Februari 2024</span>
    <p class="text-xs text-justify text-gray-800">
      {{ todo.content }}
    </p>
    <div class="flex gap-2">
      <p-button
        icon="pi pi-send"
        severity="primary"
        [style]="{ width: '30px', height: '30px' }"
        pTooltip="Detail todo"
        tooltipPosition="bottom"
      ></p-button>
      <p-button
        [icon]="todo.status ? 'pi pi-file' : 'pi pi-check-circle'"
        [severity]="todo.status ? 'warning' : 'success'"
        [style]="{ width: '30px', height: '30px' }"
        [pTooltip]="todo.status ? 'Arsip todo' : 'Aktifkan todo'"
        tooltipPosition="bottom"
        (onClick)="
          confirmActionTodo($event, todo.id, todo.status ? false : true)
        "
      ></p-button>
      <p-button
        icon="pi pi-delete-left"
        severity="danger"
        [style]="{ width: '30px', height: '30px' }"
        pTooltip="Hapus todo"
        tooltipPosition="bottom"
      ></p-button>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '25rem' }"></p-confirmDialog>
<p-toast></p-toast>
@if (isLoading) {
<app-spinner />
}
