<div class="w-full h-full flex justify-center">
  <div
    class="bg-white border w-full md:w-96 lg:w-[33rem] mb-6 py-6 px-8 rounded-md hover:shadow transition-all ease-in-out"
  >
    <h1 class="text-center font-bold text-gray-900 text-2xl mb-6">
      Tambah Todo
    </h1>
    <form
      [formGroup]="addTodoForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-5"
    >
      <div class="flex flex-col gap-2">
        <label class="font-semibold">Judul Todo</label>
        <input
          type="text"
          pInputText
          name="title"
          formControlName="title"
          placeholder="Masukkan Judul Todo"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label class="font-semibold">Isi Todo</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [autoResize]="true"
          name="content"
          formControlName="content"
          placeholder="Masukkan Isi Todo"
        ></textarea>
      </div>

      <div class="flex flex-col gap-2">
        <label class="font-semibold">Upload Gambar</label>
        <p-fileUpload
          mode="basic"
          chooseLabel="Choose"
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*"
          (onUpload)="onFileChange($event)"
        ></p-fileUpload>
      </div>

      <div class="flex flex-col gap-2">
        <p-button
          (onClick)="onSubmit()"
          label="Buat Todo"
          [style]="{ width: '100%' }"
        ></p-button>
      </div>
    </form>
  </div>
</div>

@if (isLoading) {
<app-spinner />
}
